@use '../../../layout_mixins' as *;

:host {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.menu {
  width: max-content;
  padding: 10px 15px;
  background-color: #fff;
  border: var(--border-color-05);
  border-radius: var(--radius-medium);

  &__label {
    font-size: var(--text-body-small-size);
    line-height: var(--text-body-small-line);
    color: var(--color-primary-80);

    transition: var(--transition);

    &:hover {
      color: var(--color-secondary);
    }
  }
}
