.contact-info {
  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 1.875rem;
  }

  &__card {
    padding: 2.5rem;
    background-color: var(--color-surface);
    margin-bottom: 1.875rem;

    &:last-child {
      margin-bottom: 0rem;
    }

    @media (min-width: 992px) {
      margin: 0;
    }
  }

  &__icon {
    font-size: 1.875rem;
    margin-bottom: 0.75rem;
    color: var(--color-secondary);
  }

  &__title {
    font-family: var(--font-workSans);
    font-weight: 500;
    font-size: var(--text-subtitle-size);
    line-height: var(--text-subtitle-height);
  }

  &__subtitle {
    font-size: var(--text-body-size);
    line-height: var(--text-body-height);
    color: var(--color-primary-60);
  }
}

.contact-form {
  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: var(--font-kaushan);
    color: var(--color-secondary);
  }

  &__subtitle {
    font-family: var(--font-workSans);
    font-size: var(--text-h3-size);
    line-height: var(--text-h3-height);
  }

  &__form {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 1.5rem 0;

    @media (min-width: 992px) {
      margin-bottom: 0;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.875rem;

    &--expanding {
      flex-grow: 1;
    }
  }

  &__button {
    display: inline-block;
  }

  &__map {
    width: 100%;
    height: 25rem;

    @media (min-width: 992px) {
      height: 600px;
    }
  }
}
