<div class="middlebar">
  <a routerLink="/">
    <img class="middlebar__logo" src="assets/logo/logo.png" alt="Eterna travel co logo" />
  </a>

  <ul class="middlebar__menu middlebar__menu--mobile">
    <li class="middlebar__menu-item" role="button" tabindex="0" (click)="onMainMenuOpen()">
      <i class="fa-solid fa-bars"></i>
    </li>

    @if (isMainMenuOpen()) {
      <et-dropdown-selector [navigationButtonsConfig]="mainMenuButtonConfig$" />
    }

    <li class="middlebar__menu-item" role="button" tabindex="0" (click)="onAuthMenuOpen()">
      <i class="fa-regular fa-user"></i>
    </li>

    @if (isAuthMenuOpen()) {
      <et-dropdown-selector [navigationButtonsConfig]="authMenuButtonConfig$" />
    }
  </ul>

  <et-nav />

  <ul class="middlebar__menu middlebar__menu--desktop middlebar__menu--spacing">
    <li class="middlebar__menu-item">
      <a routerLink="/authentication/login">Login</a>
    </li>

    <li>/</li>

    <li class="middlebar__menu-item">
      <a routerLink="/authentication/register">Register</a>
    </li>
  </ul>
</div>
