:host {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
}

:host(navbar) {
  position: static;
}

.dropdown {
  width: max-content;
  padding: 0.625rem 0.9375rem;
  border: var(--border-transparent-05);
  border-radius: var(--radius-medium);
  background: white;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.625rem;

    font-size: var(--text-body-small-size);
    cursor: pointer;

    transition: var(--transition);

    &:last-of-type {
      margin-bottom: 0;
    }

    &:hover {
      color: var(--color-secondary);
    }

    &--disabled {
      cursor: default;
      pointer-events: none;
    }

    &-label {
      &--active {
        color: var(--color-secondary);
      }
    }
  }

  &__flag {
    width: 1.25rem;
    border: var(--border-transparent-10);
  }
}
