@mixin content-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem;
  font-size: var(--text-caption-size);
  color: var(--color-primary-80);

  @media (min-width: 576px) {
    padding: 0.625rem 2.5rem;
  }
}
