<div class="topbar">
  <div class="topbar__left">
    <span class="topbar__mobile">+1 (212) 555-4827</span>
    <span class="topbar__email">contact@eternatravelco.com</span>
  </div>

  <div class="topbar__right">
    <ul class="topbar__social-media">
      <li>
        <i class="topbar__social-icon fa-brands fa-square-facebook"></i>
      </li>
      <li>
        <i class="topbar__social-icon fa-brands fa-square-instagram"></i>
      </li>
      <li>
        <i class="topbar__social-icon fa-brands fa-square-x-twitter"></i>
      </li>
    </ul>

    <div
      class="topbar__currency-section"
      role="button"
      tabindex="0"
      (click)="onOpenCurrencyMenu()"
      (keydown.enter)="onOpenCurrencyMenu()"
      (keydown.space)="onOpenCurrencyMenu()"
    >
      <span class="topbar__currency">EUR</span>
      <i class="topbar__icon fa-solid fa-chevron-down"></i>

      @if (isCurrencyMenuOpen()) {
      <et-locale-menu />
      }
    </div>

    <div class="topbar__language-section">
      <span
        class="topbar__currency"
        role="button"
        tabindex="0"
        (click)="onOpenLanguageMenu()"
        (keydown.enter)="onOpenLanguageMenu()"
        (keydown.space)="onOpenLanguageMenu()"
        >English (US)</span
      >
      <img
        class="topbar__flag"
        src="assets/layout/flags/united-states-flag.jpg"
        alt="United states logo"
      />

      @if (isLanguageMenuOpen()) {
      <et-locale-menu />
      }
    </div>
  </div>
</div>
